In [41]:
import pandas as pd
import numpy as np
!pip install EIA_python
import datetime
%load_ext google.colab.data_table

Requirement already satisfied: EIA_python in /usr/local/lib/python3.7/dist-packages (1.22)
The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table

In [42]:
import eia
import pandas as pd

def retrieve_time_series(api, series_ID):
    series_search = api.data_by_series(series=series_ID)
    df = pd.DataFrame(series_search)
    return df

def main(series_ID):
    api_key = "e5fe0b053abef10765427a963d27371d"
    api = eia.API(api_key)
    df=retrieve_time_series(api, series_ID)
    return(df)
    

id=['PET.MCRRIP12.M','PET.MCRRIP22.M','PET.MCRRIP32.M','PET.MCRRIP42.M','PET.MCRRIP52.M']
pd.DataFrame(main(id[4])).to_csv('padd5.csv')
pd.DataFrame(main(id[3])).to_csv('padd4.csv')
pd.DataFrame(main(id[2])).to_csv('padd3.csv')
pd.DataFrame(main(id[1])).to_csv('padd2.csv') 
pd.DataFrame(main(id[0])).to_csv('padd1.csv')

In [43]:
def CreateDate(InpString):
    return(pd.Timestamp(datetime.datetime.strptime(InpString,'%Y-%m')))

def getQuarter(new_date):
    return(new_date.quarter)

# Defining a function to get month
def getMonth(new_date):
    return(new_date.month)
 
# Defining a function to get year
def getYear(new_date):
    return(new_date.year)

In [44]:
 def read(file_name):
   name=file_name+'.csv'
   file_name=pd.read_csv(name) 
   file_name.iloc[:,0]=file_name.iloc[:,0].astype('string')
   file_name.iloc[:,0]=file_name.iloc[:,0].str.strip() 
   file_name.iloc[:,0]=file_name.iloc[:,0].str.replace(' ','-')
   file_name['new_date']=file_name.iloc[:,0].apply(CreateDate)
   file_name['month']=file_name['new_date'].apply(getMonth)
   file_name['year']=file_name['new_date'].apply(getYear)
   file_name['quarter']=file_name['new_date'].apply(getQuarter)
   indexes=file_name[file_name['year']<2016].index
   file_name.drop(indexes,axis=0,inplace=True)  
   return(file_name)

In [45]:
names=['padd1','padd2','padd3','padd4','padd5']
df=pd.DataFrame(columns=['old_date','new_date','quarter','month','year','padd1','padd2','padd3','padd4','padd5'])
c=0
co=6
for i in names:
  x=read(i)
  if c==0:
    df.loc[:,'old_date']=x.iloc[:,0]
    df.loc[:,'quarter']=x.loc[:,'quarter']
    df.loc[:,'month']=x.loc[:,'month']
    df.loc[:,'year']=x.loc[:,'year']
    df.loc[:,'padd1']=x.iloc[:,1]
    df.loc[:,'new_date']=x.loc[:,'new_date']
    c=c+1 
  else:
      df.iloc[:,co]=x.iloc[:,1]
      co=co+1

In [46]:
df.loc[:,'Total US Refinery Net Input of Crude Oil']=df.iloc[:,4:9].sum(axis = 1)

In [47]:
df#monthly

    old_date   new_date  ...  padd5  Total US Refinery Net Input of Crude Oil
420  2016-01 2016-01-01  ...   2370                                     15598
421  2016-02 2016-02-01  ...   2279                                     15580
422  2016-03 2016-03-01  ...   2387                                     15712
423  2016-04 2016-04-01  ...   2447                                     15490
424  2016-05 2016-05-01  ...   2306                                     15947
..       ...        ...  ...    ...                                       ...
481  2021-02 2021-02-01  ...   1863                                     12532
482  2021-03 2021-03-01  ...   2020                                     14384
483  2021-04 2021-04-01  ...   2076                                     15105
484  2021-05 2021-05-01  ...   2138                                     15477
485  2021-06 2021-06-01  ...   2243                                     15968

[66 rows x 11 columns]

In [16]:
columns=pd.MultiIndex.from_product([['padd1', 'padd2', 'padd3','padd4','padd5','Total US Refinery Net Input of Crude Oil'], ['sum', 'average','fraction of total']],
                                    names=['padd','values'] )

In [23]:
df_3=pd.DataFrame(columns=columns) #yearly
df_3['padd1','sum']=df2.resample('YS',on='new_date').padd1.sum()
df_3['padd2','sum']=df2.resample('YS',on='new_date').padd2.sum()
df_3['padd3','sum']=df2.resample('YS',on='new_date').padd3.sum()
df_3['padd4','sum']=df2.resample('YS',on='new_date').padd4.sum() 
df_3['padd5','sum']=df2.resample('YS',on='new_date').padd5.sum()
df_3['Total US Refinery Net Input of Crude Oil','sum']=df2.resample('YS',on='new_date').US.sum()

df_3['padd1','average']=df2.resample('YS',on='new_date').padd1.sum()/12
df_3['padd2','average']=df2.resample('YS',on='new_date').padd2.sum()/12
df_3['padd3','average']=df2.resample('YS',on='new_date').padd3.sum()/12
df_3['padd4','average']=df2.resample('YS',on='new_date').padd4.sum()/12
df_3['padd5','average']=df2.resample('YS',on='new_date').padd5.sum()/12
df_3['Total US Refinery Net Input of Crude Oil','average']=df2.resample('YS',on='new_date').US.sum()/12

df_3['padd1','fraction of total']=df2.resample('YS',on='new_date').padd1.sum()/df_3['Total US Refinery Net Input of Crude Oil','sum']
df_3['padd2','fraction of total']=df2.resample('YS',on='new_date').padd2.sum()/df_3['Total US Refinery Net Input of Crude Oil','sum']
df_3['padd3','fraction of total']=df2.resample('YS',on='new_date').padd3.sum()/df_3['Total US Refinery Net Input of Crude Oil','sum']
df_3['padd4','fraction of total']=df2.resample('YS',on='new_date').padd4.sum()/df_3['Total US Refinery Net Input of Crude Oil','sum']
df_3['padd5','fraction of total']=df2.resample('YS',on='new_date').padd5.sum()/df_3['Total US Refinery Net Input of Crude Oil','sum']
df_3.drop(('Total US Refinery Net Input of Crude Oil','fraction of total'),axis=1,inplace=True)

In [24]:
df_3

padd        padd1  ... Total US Refinery Net Input of Crude Oil
values        sum  ...                                  average
new_date           ...
2016-01-01  13298  ...                             15853.000000
2017-01-01  12841  ...                             16179.833333
2018-01-01  12539  ...                             16507.500000
2019-01-01  10738  ...                             16173.416667
2020-01-01   7247  ...                             14306.333333
2021-01-01   3912  ...                              7349.166667

[6 rows x 17 columns]

In [28]:
df_2=pd.DataFrame(columns=columns) #quarterly
df_2['padd1','sum']=df2.resample('Q',on='new_date').padd1.sum()
df_2['padd2','sum']=df2.resample('Q',on='new_date').padd2.sum()
df_2['padd3','sum']=df2.resample('Q',on='new_date').padd3.sum()
df_2['padd4','sum']=df2.resample('Q',on='new_date').padd4.sum() 
df_2['padd5','sum']=df2.resample('Q',on='new_date').padd5.sum()
df_2['Total US Refinery Net Input of Crude Oil','sum']=df2.resample('Q',on='new_date').US.sum()

df_2['padd1','average']=df2.resample('Q',on='new_date').padd1.sum()/3
df_2['padd2','average']=df2.resample('Q',on='new_date').padd2.sum()/3
df_2['padd3','average']=df2.resample('Q',on='new_date').padd3.sum()/3
df_2['padd4','average']=df2.resample('Q',on='new_date').padd4.sum()/3
df_2['padd5','average']=df2.resample('Q',on='new_date').padd5.sum()/3
df_2['Total US Refinery Net Input of Crude Oil','average']=df2.resample('Q',on='new_date').US.sum()/3

df_2['padd1','fraction of total']=df2.resample('Q',on='new_date').padd1.sum()/df_2['Total US Refinery Net Input of Crude Oil','sum']
df_2['padd2','fraction of total']=df2.resample('Q',on='new_date').padd2.sum()/df_2['Total US Refinery Net Input of Crude Oil','sum']
df_2['padd3','fraction of total']=df2.resample('Q',on='new_date').padd3.sum()/df_2['Total US Refinery Net Input of Crude Oil','sum']
df_2['padd4','fraction of total']=df2.resample('Q',on='new_date').padd4.sum()/df_2['Total US Refinery Net Input of Crude Oil','sum']
df_2['padd5','fraction of total']=df2.resample('Q',on='new_date').padd5.sum()/df_2['Total US Refinery Net Input of Crude Oil','sum']
df_2.drop(('Total US Refinery Net Input of Crude Oil','fraction of total'),axis=1,inplace=True)

In [29]:
df_2

padd       padd1  ... Total US Refinery Net Input of Crude Oil
values       sum  ...                                  average
new_date          ...
2016-03-31  3291  ...                             15630.000000
2016-06-30  3468  ...                             15829.333333
2016-09-30  3267  ...                             16038.666667
2016-12-31  3272  ...                             15914.000000
2017-03-31  2843  ...                             15606.000000
2017-06-30  3302  ...                             16720.666667
2017-09-30  3324  ...                             16055.000000
2017-12-31  3372  ...                             16337.666667
2018-03-31  2956  ...                             15975.666667
2018-06-30  3395  ...                             16729.333333
2018-09-30  3210  ...                             16756.333333
2018-12-31  2978  ...                             16568.666667
2019-03-31  2702  ...                             15838.333333
2019-06-30  3151  ...                             16427.333333
2019-09-30  2552  ...                             16504.666667
2019-12-31  2333  ...                             15923.333333
2020-03-31  2093  ...                             15520.333333
2020-06-30  1731  ...                             13492.666667
2020-09-30  1670  ...                             14143.333333
2020-12-31  1753  ...                             14069.000000
2021-03-31  1866  ...                             13880.000000
2021-06-30  2046  ...                             15516.666667

[22 rows x 17 columns]

In [ ]:
padd1=pd.read_csv('padd1.csv') 
padd2=pd.read_csv('padd2.csv') 
padd3=pd.read_csv('padd3.csv') 
padd4=pd.read_csv('padd4.csv') 
padd5=pd.read_csv('padd5.csv')

In [38]:
df_list=[padd1, padd2, padd3, padd4, padd5]#raw files
writer = pd.ExcelWriter('file1.xlsx')
for i, d in enumerate(df_list): 
    d.to_excel(writer,'sheet{}'.format(i))
writer.save()

In [49]:
df_list=[df,df_2,df_3]#monthly,quarterly,yearly
writer = pd.ExcelWriter('file2.xlsx')
for i, d in enumerate(df_list):
    d.to_excel(writer,'sheet{}'.format(i))
writer.save()